<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Seed · {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/styles.css') }}">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('ui.index') }}">Seed</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.artists') }}">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.albums') }}">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.tracks') }}">Tracks</a>
          </li>
        </ul>
        <form id="header-search-form" class="form-inline my-2 my-lg-0" action="{{ url_for('ui.search') }}" method="post" name="search">
          {{ g.search_form.hidden_tag() }}
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

    </nav>

    <main role="main" class="container">

      <div class="container">
      {% block content %}
      {% endblock %}
      </div>

      <div class="container">
      {% block page_content %}
      {% endblock %}
      </div>

    </main>
  </body>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script>
  function deleteInstance(cls, _id) {
      let endpoint = `/api/v1/${cls}s/${_id}/delete`;
        $.post(endpoint)
       .done(function() {
          $(`#${cls}_${_id}`).hide();
          console.log(`Successfully deleted ${_id}`);
      }).fail(function() { console.log(`Failed to delete ${_id}`); });
  }
  </script>
  {% block scripts %}{% endblock %}
</html>
