<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}Seed 2.0</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('ui.index') }}">Seed 2.0</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.artists') }}">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.albums') }}">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ui.tracks') }}">Tracks</a>
          </li>
        </ul>
        <form id="header-search-form" class="form-inline my-2 my-lg-0" action="{{ url_for('ui.search') }}" method="post" name="search">
          {{ g.search_form.hidden_tag() }}
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

    </nav>

    <main role="main" class="container">

      <div class="container">
      {% block content %}
      {% endblock %}
      </div>

      <div class="container">
      {% block page_content %}
      {% endblock %}
      </div>

    </main>
  </body>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script>
  let redirect="ui.index";

  function deleteInstance(cls, _id) {
      let endpoint = `/api/v1/${cls}s/${_id}/delete`;
        $.post(endpoint)
       .done(function() {
          $(`#${cls}_${_id}`).parent().hide();
          console.log(`Successfully deleted ${_id}`);
      }).fail(function() { console.log(`Failed to delete ${_id}`); });
  }

  function deleteInstanceAndRedirect(cls, _id) {
    let endpoint = `/api/v1/${cls}s/${_id}/delete`;
      $.post(endpoint)
     .done(function() {
        $(`#${cls}_${_id}`).parent().hide();
        console.log(`Successfully deleted ${_id}`);
        window.location.href = "{{ url_for('ui.index') }}";
    }).fail(function() { console.log(`Failed to delete ${_id}`); });
  }

  function runInstance(cls, uri) {
      let endpoint = `/api/v1/${cls}s/${uri}/run`;
        $.get(endpoint)
       .done(function() {
          console.log(`Successfully run ${uri}`);
          window.location.reload(true);
      }).fail(function() { console.log(`Failed to run ${uri}`); });
  }

  function runMetadata(cls, uri) {
      let endpoint = `/api/v1/${cls}s/${uri}/metadata/run`;
        $.get(endpoint)
       .done(function() {
          console.log(`Successfully run ${uri}`);
          window.location.reload(true);
      }).fail(function() { console.log(`Failed to run ${uri}`); });
  }

  $("a.run-track")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let header_id = $(this).closest("header").attr('id');
       let _id = header_id == null ? $(this).attr('id') : header_id;
       runInstance("track", _id)
     });

  $("a.run-artist")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let header_id = $(this).closest("header").attr('id');
       let _id = header_id == null ? $(this).attr('id') : header_id;
       runInstance("artist", _id)
     });

  $("a.run-album")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let _id = $(this).attr('id');
       runInstance("album", _id)
     });

  $("a.run-artist-metadata")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let _id = $(this).closest("header").attr('id');
       runMetadata("artist", _id)
     });

  $("a.run-album-metadata")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let _id = $(this).closest("header").attr('id');
       runMetadata("album", _id)
     });

  </script>
  {% block scripts %}{% endblock %}
</html>
