<div id="album_{{album.id}}" class="album">
    <div>
      {% if ("01-01" in album.release_date_string or album.release_date_string|length == 4) and album.dbp_uri %}
        <a id="{{album.spot_uri}}" class="red run-album-release-date">{{ album.release_date_string }}</a>
        <a href="{{album.dbp_uri}}" target="_blank" style="color: darkgray; font-style: italic"> [{{ album.dbp_uri }}]</a>
      {% else %}
        <a href="{{ url_for('ui.get_album', album_id=album.id) }}">
          <span class="track-release-date">{{ album.release_date_string }}</span>
        </a>
      {% endif %}
      {% for artist in album.artists %}
      <a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">
          <span class="track-artist">{{ artist.name }}</span>
      </a>
      {% endfor %}
      <a href="{{ url_for('ui.get_album', album_id=album.id) }}" class="album">[{{ album.name }}]</a>
      {% if album.last_updated is not none %}
        <span style="color: darkgray;">✓</span>
      {% else %}
        <a id="{{album.spot_uri}}" class="run-button run-album run-first">➢</a>
      {% endif %}

    </div>
    <div class="album-data">
        <a class="delete-button" onclick="deleteInstance('album', {{album.id}})">x</a>
        <span class="count">{{ album.lyrics_status() }}</span>
    </div>
</div>
<div class="album-progress">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ album.lyrics_percentage() }}%" aria-valuenow="{{ album.lyrics_percentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ album.lyrics_missed_percentage() }}%" aria-valuenow="{{ album.lyrics_missed_percentage() }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
