    <header id="{{result.spot_uri}}" class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    {% block title_row %}{% endblock %}
                </div>
            </div>
            <div class="header-row-end">
                <div class="buttons-row">
                    <div class="buttons-row-start">
                        {% block buttons_row_start %}{% endblock %}
                    </div>
                    <div class="buttons-row-end">
                        {% block buttons_row_end %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>

