<div class="track">
    <div>
        <a href="{{ url_for('ui.get_track', track_id=track.id) }}">
            <span class="track-release-date">{{ track.album.release_date_string }}</span>
        </a>
        {% for artist in track.album.artists %}
            {% if artist.name != "Various Artists" %}
                <a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">
                    <span class="track-artist">{{ artist.name }}</span>
                </a>
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('ui.get_track', track_id=track.id) }}">
            <span class="track-title">"{{ track.render() }}"</span>
        </a>
        {% if track.adjusted_featured_artists() %}
            <span class="track-feat">feat. </span>
            {% for artist in track.adjusted_featured_artists() %}
            <a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">
                <span class="track-artist">{{ artist.name }}</span>
            </a>
            {% endfor %}
        {% endif %}

        {% if track.lyrics is not none %}
            <a class="geni-button" href="{{track.lyrics_url}}" target="_blank">
                <img src="{{ url_for('static', filename='img/genius-dark-sm.svg') }}"/>
            </a>
        {% elif track.lyrics is none and track.lyrics_url is not none %}
            <a id="{{track.spot_uri}}" class="run-button run-track">↻</span>
        {% else %}
            <a id="{{track.spot_uri}}" class="run-button run-track run-first">➢</a>
        {% endif %}

        <div style="float: right">
            {% if track.song_link() %}
                <a class="play-button" href="{{ track.song_link() }}" target="_blank">▶️</a>
            {% endif %}
        </div>
    </div>
    <div class="track-data">
        <a id="track_{{track.id}}" class="delete-button" onclick="deleteInstance('track', {{track.id}})">x</a>
    </div>
</div>