{% extends "base.html" %}
{% block title %}{{ result.name }} ⋅ the Right Rhymes{% endblock %}

{% block content %}
<div class="container">
    <header class="header-with-img">
        <img class="header-img" src="{% if result.img is not none %} {{ result.img }} {% else %} {{ url_for('static', filename='img/__none.png') }} {% endif %}"/>
        <div class="h1 header-title">
            {% for artist in result.artists %}
                {{ artist.name }}
            {% endfor %}
            - {{ result.name }}
            <a id="{{result.spot_uri}}" class="run-button run-album">➢</a>
        </div>
        <a class="api-button" href="/api/v1/albums/{{ result.spot_uri }}" target="_blank">
            <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
        </a>
    </header>
    <div class="locations">
        {% if result.dbp_uri %}
        <span> ⋅ </span>
        <span class="dbp">&lt;<a href="{{result.dbp_uri}}" target="_blank">{{ result.dbp_uri }}</a>&gt;</span>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for track in result.tracks %}
          <li class="list-group-item">
            {% include "ui/_track.html" %}
          </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
