{% extends "base.html" %}

{% block page_content %}
<div class="container">

    <ul class="list-group">
        {% for album in instances %}
          <li class="list-group-item">
            {% include "ui/_album.html" %}
          </li>
        {% endfor %}
    </ul>

    <div class="pagination-wrapper">
        <ul class="pagination">
          {% if offset > 9 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums')}}?offset=0" aria-label="Previous">
                <span> << </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums')}}?offset={{offset - 10}}" aria-label="Previous">
                <span> < </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
          {% for n in range(start_page+1, end_page) %}
            {% if (offset + n*10) < count-10 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('ui.albums') }}?offset={{n*10}}">{{n}}</a></li>
            {% endif %}
          {% endfor %}
          {% if (count - offset) > 10 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums') }}?offset={{offset + 10}}" aria-label="Next">
                <span> > </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums') }}?offset={{count - 10}}" aria-label="Next">
                <span> >> </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>

</div>
{% endblock %}
