{% extends "base.html" %}

{% block page_content %}
<div class="container">

    <ul class="list-group">
        {% for album in instances %}
          <li class="list-group-item">
              <a href="{{ url_for('ui.get_album', album_id=album.id) }}">
                  <span class="track-release-date">{{ album.release_date.strftime('%Y-%m-%d') }}</span>
                  {% for artist in album.artists %}
                  <a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">
                      <span class="track-artist">{{ artist.name }}</span>
                  </a>
                  {% endfor %}
              </a>
              <a href="{{ url_for('ui.get_album', album_id=album.id) }}" class="album">[{{ album.name }}]</a>
              <span style="float: right">
                  <a href="{{ url_for('ui.get_album', album_id=album.id) }}" class="album">
                      <span class="tooltiptext">{{ album.name }}</span>
                      <img src="{% if album.img is not none %} {{ album.img }} {% else %} {{ url_for('static', filename='img/__none.png') }} {% endif %}" height="50" width="50"/>
                  </a>
                  <a id="album_{{album.id}}" class="delete-button" onclick="deleteInstance('album', {{album.id}})">x</a>
              </span>
          </li>
        {% endfor %}
    </ul>

    <div class="pagination-wrapper">
        <ul class="pagination">
          {% if offset > 9 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums')}}?offset=0" aria-label="Previous">
                <span> << </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums')}}?offset={{offset - 10}}" aria-label="Previous">
                <span> < </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
          {% for n in range(start_page+1, end_page) %}
            {% if (offset + n*10) < count-10 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('ui.albums') }}?offset={{n*10}}">{{n}}</a></li>
            {% endif %}
          {% endfor %}
          {% if (count - offset) > 10 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums') }}?offset={{offset + 10}}" aria-label="Next">
                <span> > </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.albums') }}?offset={{count - 10}}" aria-label="Next">
                <span> >> </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>

</div>
{% endblock %}
