{% extends "base.html" %}
{% block title %}{{ result.name }} ⋅ the Right Rhymes{% endblock %}

{% block content %}
<div class="container track">
    <div class="h1">
        {% for artist in result.artists %}
            {{ artist.name.replace('&', '&amp;') }}
        {% endfor %}
        - {{ result.name }}
        <a id="{{result.spot_uri}}" class="run-button run-album">➢</a>
        <a style="float:right" href="/api/v1/albums/{{ result.spot_uri }}" target="_blank"><img src="{{ url_for('static', filename='img/cloud.svg') }}"/></a>
    </div>

    <ul class="list-group">
        {% for track in result.tracks %}
          <li class="list-group-item">
            {% include "ui/_track.html" %}
          </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
