{% extends "base.html" %}
{% block title %}{{ result.artist_and_album_name() }} ⋅ {% endblock %}


{% block head %}
    <style>
      header {
        background-image: url({{ img }});
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
{% endblock %}

{% block content %}
    <header id="{{result.spot_uri}}"  class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    <div class="h1 header-title">
                        {{ result.artist_and_album_name() }}
                        <a id="{{result.spot_uri}}" class="run-button run-album">➢</a>
                    </div>
                    <a class="api-button" href="/api/v1/albums/{{ result.spot_uri }}" target="_blank">
                        <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
                    </a>
                </div>
            </div>
            <div class="header-row-end">
                <div class="buttons-row">
                    <div class="buttons-row-start">
                        <a class="edit-button" href="{{ url_for('ui.edit_album', album_id=result.id) }}">✏️</a>
                        {% if result.wikipedia_uri %}
                        <span><a href="{{result.wikipedia_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/wikipedia.png') }}"></a></span>
                        {% endif %}
                        {% if result.dbp_uri %}
                        <span><a href="{{result.dbp_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/dbpedia.png') }}"></a></span>
                        <a class="run-button run-album-release-date">📅</a>
                        {% endif %}
                    </div>
                    <div class="buttons-row-end">
                        <a class="metadata-button run-album-metadata">
                            <img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/location.svg') }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        <form method="POST" action="{{ url_for('ui.update_album', album_id=result.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label>Name</label>
                {{ form.name() }}
            </div>
            <div class="form-group">
                <label>Release Date String</label>
                {{ form.release_date_string() }}
            </div>
            <div class="form-group">
                <label>DBPedia URI</label>
                {{ form.dbp_uri() }}
            </div>
            <div class="form-group">
                <label>Wikipedia URI</label>
                {{ form.wikipedia_uri() }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('input').addClass('form-control');
        console.log("DONE!");
    });
    </script>
{% endblock %}
