{% extends "base.html" %}
{% block title %}{{ result.artist_and_album_name() }} ⋅ {% endblock %}

{% block content %}
<div class="container">
    <header id="{{result.spot_uri}}"  class="header-with-img">
        <img class="header-img" src="{% if result.img is not none %} {{ result.img }} {% else %} {{ url_for('static', filename='img/__none.png') }} {% endif %}"/>
        <div class="h1 header-title">
            {{ result.artist_and_album_name() }}
            <a id="{{result.spot_uri}}" class="run-button run-album">➢</a>
        </div>
        <a class="api-button" href="/api/v1/albums/{{ result.spot_uri }}" target="_blank">
            <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
        </a>
        <a class="metadata-button run-album-metadata">
            <img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/location.svg') }}">
        </a>
        <div class="locations">
            {% if result.wikipedia_uri %}
            <span class="dbp"><a href="{{result.wikipedia_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/wikipedia.png') }}"></a></span>
            {% endif %}
            {% if result.dbp_uri %}
            <span class="dbp"><a href="{{result.dbp_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/dbpedia.png') }}"></a></span>
            <a class="dbp run-button run-album-release-date">📅</a>
            {% endif %}
        </div>
        <a class="edit-button" href="{{ url_for('ui.edit_album', album_id=result.id) }}">✏️</a>
    </header>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ result.lyrics_percentage() }}%" aria-valuenow="{{ result.lyrics_percentage() }}" aria-valuemin="0" aria-valuemax="100">{{ result.lyrics_percentage() }}% DONE</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ result.lyrics_missed_percentage() }}%" aria-valuenow="{{ result.lyrics_missed_percentage() }}" aria-valuemin="0" aria-valuemax="100">{{ result.lyrics_missed_percentage() }}% MISSED</div>
    </div>
    <ul class="list-group">
        {% for track in result.tracks %}
          <li class="list-group-item">
            {% include "ui/_track.html" %}
          </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

{% block scripts %}
    <script>
  function runReleaseDate(uri) {
      let endpoint = `/api/v1/albums/${uri}/release-date/run?update=True`;
        $.get(endpoint)
       .done(function() {
          console.log(`Successfully run ${uri}`);
          window.location.reload(true);
      }).fail(function() { console.log(`Failed to run ${uri}`); });
  }

  $("a.run-album-release-date")
     .click(function(){
      $(this).html($('<img>',{height: 15, width: 15, src:'{{ url_for('static', filename='img/working.gif') }}'}))
       let _id = $(this).closest("header").attr('id');
       runReleaseDate(_id)
     });
     </script>
{% endblock %}