{% extends "base.html" %}
{% block title %}{{ result.name }} ⋅ {% endblock %}

{% block content %}
<div class="container">
    <header id="{{result.spot_uri}}"  class="header-with-img">
        <img class="header-img" src="{% if result.thumb is not none %} {{ result.img }} {% else %} {{ url_for('static', filename='img/__none.png') }} {% endif %}"/>
        <div class="h1 header-title">
            {{ result.name }}
            <a class="run-button run-artist">➢</a>
        </div>
        <a class="api-button" href="/api/v1/artists/{{ result.spot_uri }}" target="_blank">
            <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
        </a>
<!--        <a class="delete-button" onclick="deleteInstanceAndRedirect('artist', {{result.id}})">x</a>-->
        <a class="metadata-button run-artist-metadata">
            <img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/location.svg') }}">
        </a>
        <div class="locations">
            {% if result.birthplace %}
                <span class="location-label">Birthplace: </span>
                <span class="location">{{ result.birthplace.name }}</span>
            {% endif %}
            {% if result.hometown %}
                <span class="location-label">Hometown: </span>
                <span class="location">{{ result.hometown.name }}</span>
            {% endif %}
            {% if result.wikipedia_uri %}
            <span class="dbp"><a href="{{result.wikipedia_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/wikipedia.png') }}"></a></span>
            {% endif %}
            {% if result.dbp_uri %}
                <span class="dbp"><a href="{{result.dbp_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/dbpedia.png') }}"></a></span>
            {% endif %}
        </div>
    </header>
    {% if result.albums|length > 0 %}
        <div>
            <h4 class="albums-label">{{ result.albums|length }} Albums ⋅ {{ result.primary_tracks|length }} Tracks</h4>
        </div>
    {% endif %}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ result.lyrics_percentage() }}%" aria-valuenow="{{ result.lyrics_percentage() }}" aria-valuemin="0" aria-valuemax="100">{{ result.lyrics_percentage() }}% DONE</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ result.lyrics_missed_percentage() }}%" aria-valuenow="{{ result.lyrics_missed_percentage() }}" aria-valuemin="0" aria-valuemax="100">{{ result.lyrics_missed_percentage() }}% MISSED</div>
    </div>
    {% if result.albums|length > 0 %}
        <ul class="list-group">
            {% for album in result.albums|sort(attribute='release_date') %}
                <li class="list-group-item">
                    {% include "ui/_album.html" %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if result.primary_tracks|length > 0 %}
            <h4 class="tracks-label">{{ result.primary_tracks|length }} Primary Tracks </h4>
            <ul class="list-group">
                {% for track in result.primary_tracks|sort(attribute='album.release_date') %}
                    <li class="list-group-item">
                        {% include "ui/_track.html" %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if result.featured_tracks|length > 0 %}
            <h4 class="tracks-label">{{ result.featured_tracks|length }} Featured Tracks</h4>
            <ul class="list-group">
                {% for track in result.featured_tracks|sort(attribute='album.release_date') %}
                    <li class="list-group-item">
                        {% include "ui/_track.html" %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% if result.genres %}
        <div class="genres">
            {% for genre in result.genres %}
                <a href="{{ url_for('ui.get_genre', genre_id=genre.id) }}" class="genre btn btn-primary btn-sm active">{{ genre.name }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
