{% extends "base.html" %}
{% block title %}{{ result.name }} ⋅ {% endblock %}


{% block head %}
    <style>
      header {
        background-image: url({{ img }});
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
{% endblock %}

{% block content %}
    <header id="{{result.spot_uri}}"  class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    <div class="h1 header-title">
                        {{ result.name }}
                        <a class="run-button run-artist">➢</a>
                    </div>
                    <a class="api-button" href="/api/v1/artists/{{ result.spot_uri }}" target="_blank">
                        <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
                    </a>
                </div>
            </div>
            <div class="header-row-end">
                <div class="locations-row">
                    {% if result.birthplace %}
                        <span class="location-label">Birthplace: </span>
                        <span class="location">{{ result.birthplace.name }}</span>
                    {% endif %}
                    {% if result.hometown %}
                        <span class="location-label">Hometown: </span>
                        <span class="location">{{ result.hometown.name }}</span>
                    {% endif %}
                </div>
                <div class="buttons-row">
                    <div class="buttons-row-start">
                        <a class="edit-button" href="{{ url_for('ui.edit_artist', artist_id=result.id) }}">✏️</a>
                        {% if result.wikipedia_uri %}
                        <span><a href="{{result.wikipedia_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/wikipedia.png') }}"></a></span>
                        {% endif %}
                        {% if result.dbp_uri %}
                            <span><a href="{{result.dbp_uri}}" target="_blank"><img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/dbpedia.png') }}"></a></span>
                        {% endif %}
                    </div>
                    {% if albums_count > 0 %}
                        <div class="counts">
                            <h4>{{ albums_count }} Albums ⋅ {{ primary_tracks_count }} Tracks</h4>
                        </div>
                    {% endif %}
                    <a class="metadata-button run-artist-metadata">
                        <img class="metadata-img" height="25" width="25" src="{{ url_for('static', filename='img/location.svg') }}">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div>
        <form method="POST" action="{{ url_for('ui.update_artist', artist_id=result.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label>Name</label>
                {{ form.name() }}
            </div>
            <div class="form-group">
                <label>DBPedia URI</label>
                {{ form.dbp_uri() }}
            </div>
            <div class="form-group">
                <label>Wikipedia URI</label>
                {{ form.wikipedia_uri() }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('input').addClass('form-control');
        console.log("DONE!");
    });
    </script>
{% endblock %}
