{% extends "base.html" %}
{% block title %}{{ result.name }} ⋅ the Right Rhymes{% endblock %}

{% block content %}
<div class="container track">
    <div class="h1">
        {{ result.name.replace('&', '&amp;') }}
        <a id="artist_{{result.id}}" class="run-button" onclick="runInstance('artist', '{{result.spot_uri}}')">➢</a>
        <a style="float:right" href="/api/v1/artists/{{ result.spot_uri }}" target="_blank"><img src="{{ url_for('static', filename='img/cloud.svg') }}"/></a>
    </div>
    <ul class="list-group">
        {% for album in result.albums %}
            <li class="list-group-item">
                {% include "ui/_album.html" %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
