{% extends "_base.html" %}

{% block page_content %}
<div class="container">

    <ul class="list-group">
        {% for track in instances %}
          <li class="list-group-item">
              <a href="{{ url_for('ui.get_track', track_id=track.id) }}">
                  <span class="track-release-date">{{ track.album.release_date }}</span>
                  {% for artist in track.primary_artists %}
                  <span class="track-artist">{{ artist.name }}</span>
                  {% endfor %}
                  <span class="track-title">"{{ track.name }}"</span>
                  {% if track.featured_artists %}
                    <span class="track-feat">feat. </span>
                    {% for artist in track.featured_artists %}
                        <span class="track-feat">{{ artist.name }}</span>
                    {% endfor %}
                  {% endif %}
              </a>
              <a href="{{ url_for('ui.get_album', album_id=track.album.id) }}" style="float: right" class="album">
                  <span class="tooltiptext">{{ track.album.name }}</span>
                  <img src="{% if track.album.img is not none %} {{ track.album.img }} {% else %} {{ url_for('static', filename='img/__none.png') }} {% endif %}" height="50" width="50"/>
              </a>
          </li>
        {% endfor %}
    </ul>

    <div class="pagination-wrapper">
        <ul class="pagination">
          {% if offset > 9 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.tracks')}}?offset=0" aria-label="Previous">
                <span> << </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.tracks')}}?offset={{offset - 10}}" aria-label="Previous">
                <span> < </span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
          {% for n in range(start_page+1, end_page) %}
            {% if (offset + n*10) < count-10 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('ui.tracks') }}?offset={{n*10}}">{{n}}</a></li>
            {% endif %}
          {% endfor %}
          {% if (count - offset) > 10 %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.tracks') }}?offset={{offset + 10}}" aria-label="Next">
                <span> > </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{{ url_for('ui.tracks') }}?offset={{count - 10}}" aria-label="Next">
                <span> >> </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>

</div>
{% endblock %}
