{% extends "base.html" %}
{% block title %}{{ result.artist_and_track_name() }} ⋅ {% endblock %}

{% block head %}
    <style>
      header {
        background-image: url({{ img }});
        background-repeat: no-repeat;
        background-size: cover;
      }
      </style>
{% endblock %}

{% block content %}
    <header id="{{result.spot_uri}}" class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    <div class="h1 header-title">
                        {{ result.artist_and_track_name() }}
                        {% if result.lyrics is not none %}
                            <a class="geni-button" href="{{result.lyrics_url}}" target="_blank">
                                <img src="{{ url_for('static', filename='img/genius.svg') }}"/>
                            </a>
                        {% elif result.lyrics is none and result.lyrics_url is not none %}
                            <a class="run-button run-track">↻</a>
                        {% else %}
                            <a class="run-button run-track">➢</a>
                        {% endif %}
                    </div>
                    <a class="api-button" href="/api/v1/tracks/{{ result.spot_uri }}" target="_blank">
                        <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
                    </a>
                </div>
            </div>
            <div class="header-row-end">
                <div class="buttons-row">
                    <div class="buttons-row-start">
                        <a class="edit-button" href="{{ url_for('ui.edit_track', track_id=result.id) }}">✏️</a>
                    </div>
                    <div class="buttons-row-end">
                        {% if result.song_link() %}
                            <a class="play-button" href="{{ result.song_link() }}" target="_blank" style="color: whitesmoke;">▶️</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        <form method="POST" action="{{ url_for('ui.update_track', track_id=result.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input name="name" type="text" class="form-control" id="name" value="{{ form.name.data }}"/>
            </div>
            <div class="form-group">
                <textarea name="lyrics" class="form-control" id="lyrics" rows="20">{{ form.lyrics.data }}</textarea>
            </div>
            <div class="form-group">
                <textarea name="lyrics_annotated" class="form-control" id="lyrics_annotated" rows="20">{{ form.lyrics_annotated.data }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
