{% extends "base.html" %}
{% block title %}{{ result.artist_and_track_name() }} ⋅ {% endblock %}

{% block head %}
    <style>
      header:before {
        background-image: url({{ img }});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 20%;
        opacity: 0.15;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      </style>
{% endblock %}

{% block content %}
    <header id="{{result.spot_uri}}" class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    <div class="h1 header-title">
                        {{ result.artist_and_track_name() }}
                    </div>
                    <a class="api-button" href="/api/v1/tracks/{{ result.spot_uri }}" target="_blank">
                        <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
                    </a>
                </div>
            </div>
            <div class="header-row-end">

            </div>
        </div>
    </header>

    <div>
        <form method="POST" action="{{ url_for('ui.update_track', track_id=result.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input name="name" type="text" class="form-control" id="name" value="{{ form.name.data }}"/>
            </div>
            <div class="form-group">
                <textarea name="lyrics" class="form-control" id="lyrics" rows="20">{{ form.lyrics.data }}</textarea>
            </div>
            <div class="form-group">
                <textarea name="lyrics_annotated" class="form-control" id="lyrics_annotated" rows="20">{{ form.lyrics_annotated.data }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
