{% extends "base.html" %}
{% block title %}{{ result.name }}{% endblock %}


{% block content %}
<div class="container track">
    <div class="h1">
        {% if result.primary_artists %}
            {% for artist in result.primary_artists %}
                {{ artist.name.replace('&', '&amp;') }}
            {% endfor %}
        {% elif result.featured_artists %}
            {% for artist in result.featured_artists %}
                {{ artist.name.replace('&', '&amp;') }}
            {% endfor %}
        {% else %} __ {% endif %}
        - "{{ result.name }}"
        <a id="{{result.spot_uri}}" class="run-button run-track">➢</a>
        <div style="float:right" >
            <a href="/api/v1/tracks/{{ result.spot_uri }}" target="_blank"><img src="{{ url_for('static', filename='img/cloud.svg') }}"/></a>
            <a href="{{result.lyrics_url}}" target="_blank"><img src="{{ url_for('static', filename='img/genius.svg') }}"/></a>
        </div>
    </div>
    <div class="example">
      <div class="tag">&lt;example <span class="attribute">id="s{{result.id}}"</span>&gt;</div>
        <div class="indentTag">
            <span class="tag">&lt;date&gt;</span>{{ result.album.release_date.strftime('%Y-%m-%d') }}<span class="tag">&lt;/date&gt;</span>
        </div>
        <div class="indentTag">
            {% for artist in result.primary_artists %}
            <span class="tag">&lt;artist&gt;</span><a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">{{ artist.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/artist&gt;</span>
            {% endfor %}
        </div>
        <div class="indentTag">
            <span class="tag">&lt;songTitle&gt;</span>{{ result.name.replace('&', '&amp;') }}<span class="tag">&lt;/songTitle&gt;</span>
        </div>
        {% for f in result.featured_artists %}
            <div class="indentTag">
                <span class="tag">&lt;feat&gt;</span><a href="{{ url_for('ui.get_artist', artist_id=f.id) }}">{{ f.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/feat&gt;</span>
            </div>
        {% endfor %}
        <div class="indentTag">
            <span class="tag">&lt;album&gt;</span><a href="{{ url_for('ui.get_album', album_id=result.album.id) }}">{{ result.album.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/album&gt;</span>
        </div>
        <div class="indentTag">
            <span class="tag">&lt;lyric&gt;</span><span class="tag">&lt;/lyric&gt;</span>
        </div>
        <span class="tag">&lt;/example&gt;</span>
    </div>
    <a class="btn btn-default" href="{{ url_for('ui.edit_track', track_id=result.id) }}">Edit</a>
    <div class="h5 container">
        {% if result.lyrics %}
            {% for lyric in result.lyrics.split("\n") %}
                {% if q %}
                    <div class="h5">{{ lyric|replace(q, "<span class='query'>" + q + "</span>")|safe }}</div>
                {% else %}
                    <div class="h5">{{ lyric }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
