{% extends "base.html" %}
{% block title %}{{ result.artist_and_track_name() }} ⋅ {% endblock %}

{% block head %}
    <style>
      header:before {
        background-image: url({{ img }});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 20%;
        opacity: 0.15;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      </style>
{% endblock %}

{% block content %}

    <header id="{{result.spot_uri}}" class="header-with-img">
        <div class="header-rows">
            <div class="header-row-start">
                <div class="title-row">
                    <div class="h1 header-title">
                        {{ result.artist_and_track_name() }}
                        {% if result.lyrics is not none %}
                            <a class="geni-button" href="{{result.lyrics_url}}" target="_blank">
                                <img src="{{ url_for('static', filename='img/genius.svg') }}"/>
                            </a>
                        {% elif result.lyrics is none and result.lyrics_url is not none %}
                            <a class="run-button run-track">↻</a>
                        {% else %}
                            <a class="run-button run-track">➢</a>
                        {% endif %}
                    </div>
                    <a class="api-button" href="/api/v1/tracks/{{ result.spot_uri }}" target="_blank">
                        <img src="{{ url_for('static', filename='img/cloud.svg') }}"/>
                    </a>
                </div>
            </div>
            <div class="header-row-end">
                <div class="buttons-row">
                    <div class="buttons-row-start">
                        <a class="edit-button" href="{{ url_for('ui.edit_track', track_id=result.id) }}">✏️</a>
                    </div>
                    <div class="buttons-row-end">
                        {% if result.song_link() %}
                            <a class="play-button" href="{{ result.song_link() }}" target="_blank" style="color: whitesmoke;">▶️</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="example">
      <div class="tag">&lt;example <span class="attribute">id="s{{result.id}}"</span>&gt;</div>
        <div class="indentTag">
            <span class="tag">&lt;date&gt;</span>{{ result.album.release_date_string }}<span class="tag">&lt;/date&gt;</span>
        </div>
        <div class="indentTag">
            {% for artist in result.album.artists %}
            <span class="tag">&lt;artist&gt;</span><a href="{{ url_for('ui.get_artist', artist_id=artist.id) }}">{{ artist.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/artist&gt;</span>
            {% endfor %}
        </div>
        <div class="indentTag">
            <span class="tag">&lt;songTitle&gt;</span>{{ result.name.replace('&', '&amp;') }}<span class="tag">&lt;/songTitle&gt;</span>
        </div>
        {% for f in result.adjusted_featured_artists() %}
            <div class="indentTag">
                <span class="tag">&lt;feat&gt;</span><a href="{{ url_for('ui.get_artist', artist_id=f.id) }}">{{ f.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/feat&gt;</span>
            </div>
        {% endfor %}
        <div class="indentTag">
            <span class="tag">&lt;album&gt;</span><a href="{{ url_for('ui.get_album', album_id=result.album.id) }}">{{ result.album.name.replace('&', '&amp;') }}</a><span class="tag">&lt;/album&gt;</span>
        </div>
        <div class="indentTag">
            <span class="tag">&lt;lyric&gt;</span><span class="tag">&lt;/lyric&gt;</span>
        </div>
        <span class="tag">&lt;/example&gt;</span>
    </div>
    <div class="h5 container lyrics">
        {% if result.lyrics_annotated %}
            {% for lyric in result.lyrics_annotated.split("\n") %}
                {% if q %}
                    <div class="h5">{{ lyric|replace(q, "<span class='query'>" + q + "</span>")|safe }}</div>
                {% else %}
                    <div class="h5">{{ lyric | safe }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
