body {
    padding-top: 5rem;
    background-color: #343a40 !important;
    color: slategray;
}

.h1 {
    color: whitesmoke;
}

.album-data, .artist-data, .track-data {
    float: left;
}

.count {
    font-style: italic;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding: 3rem 1.5rem;
    text-align: center;
}

.search_results {
	margin-left: 2em;
	margin-top: 2em;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/*
Default 	                        #F8F8E9
Comment 	                        #F16EAA
Attribute Key 	                    #1EBEC8
Attribute Value (double-quoted) 	#DEC065
Attribute Value (single-quoted) 	#F16EAA
Tags 	                            #7AB667
*/

.tag {
	color: #7AB667;
	font-weight: bold;
}

.left {
	margin-left: 1em;
}

.attribute {
	color: orange;
}

.indentTag {
	color: whitesmoke;
	margin-left: 2em;
	font-weight: bold;
	line-height: 1.1rem;
}

.query {
	color: #3399FF;
}

.example {
    font-size: 0.9rem;
}

.default {
    color: #F8F8E9;
}

.attribute-key {
    color: #1EBEC8;
}

.attribute-value {
    color: #DEC065;
}

a.album:hover {
    text-decoration: none !important;
}

.album:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.track-listed:hover {
    background: lightgray;
}

.track-listed:active {
    background: lightgray;
}

header .delete-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: yellow !important;
}

header .metadata-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: yellow !important;
}

.delete-button {
    cursor: pointer;
    color: red !important;
    font-weight: bold;
    margin-right: 0.5rem;
}

.run-button, .metadata-button {
    cursor: pointer;
}

.header-with-img {
    display: flex;
    height: 200px;
    justify-content: space-between;
    filter: grayscale(100%);
    overflow: hidden;
    position: relative;
}

.header-title {
    cursor: pointer;
    padding-left: 8px;
}

.api-button, .geni-button, .metadata-button {
    position: absolute;
    right: 8px;
}

.geni-button, .metadata-button {
    bottom: 8px;
}

.list-group-item:first-child {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
}

.header-img {
    background-size: cover !important;
    margin: auto;
    width: 100%;
    opacity: 0.25;
    position: absolute;
    top: -250px;
    z-index: -1000;
}

.lyrics, .locations {
    color: whitesmoke;
}

.locations {
    background-color: darkslategrey;
}

.location-label {
    padding-left: 8px;
}